#menu {
 border-radius: 10px;
 background-color:#DDD;
 position:absolute;
 top:0px;
 left:0px;
 display:none;
}
#left{
    background-color:#DDD;
    float:left;
    position:absolute;
    top:0px;
    left:0px;
}

#panel{
    font-size:13px;
}

#homepage{
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    padding:10px;
}
#homepage:hover{
    background-color:#BBB;
}

#bacteriumpage{
    border-bottom:1px solid #777;
    padding:10px;
}
#bacteriumpage:hover{
    background-color:#BBB;
}

#otherspage{
    border-bottom:1px solid #777;
    padding:10px;
}
#otherspage:hover{
    background-color:#BBB;
}

#readme{
}
#title{
    text-align: center;
}
h2{
    font-size:30px;
}
#explain{
    font-size:15px;
    margin:80px 0 0 500px ;
}
