@charset "UTF-8";

#menu {
    border-radius: 10px;
    background-color:#DDD;
    position:absolute;
    top:0px;
    left:0px;
}

#left{
    background-color:#DDD;
    position:absolute;
    top:25px;
    left:0px;
    display:none;
    
}

#panel{
    font-size:13px;
}

#homepage{
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    padding:10px;
}
#homepage:hover{
    background-color:#BBB;
}

#bacteriumpage{
    border-bottom:1px solid #777;
    padding:10px;
}
#bacteriumpage:hover{
    background-color:#BBB;
}

#otherspage{
    border-bottom:1px solid #777;
    padding:10px;
}
#otherspage:hover{
    background-color:#BBB;
}


p{
    font-size:20px;
    text-align: center;
	margin-bottom:20px;
}
#main-contens{
	
}

.attr{
	float:left;
    text-align: center;
}
.tasks {
	background-color:#CFF;
	border:1.5px solid #000;
	min-height:20px;
	width:220px;
	margin:0 10px;
	padding:10px 10px 0 10px;
}

.elem{
	list-style-type:none;
	background-color:#FFF;
	border:1px solid #99C;
	font-size:15px;
	height:40px;
	line-height:40px;
	width:220px;
	margin-bottom:10px;
}

#check{
    font-size:20px;
}

#checkContents{
    background-color:#8F8;
    border-radius: 20px;
}

#boxContents{
    background-color:#F88;
    margin:10px 0 0 10px;
    min-height:976px;
    float:right;
}

.on_tasks{
	list-style-type:none;
	background-color:#EEE;
	height:40px;
	width:220px;
	margin-bottom:10px;
}
